.main-container{
    margin-bottom: 4em;
}

.game-desc > div > div.row{
    margin-bottom: 1em;
}

.game-header{
    text-align: center;
    margin-bottom: 1em;
}

.game-header .game-title, .game-header .game-logo{
    display: inline-block;
}

.game-header .game-logo{
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-right: 2em;
}

span.spn-label{
    font-weight: bold;
}

.game-developer-wrapper{
    display: table;
    width: 100%;
}

.game-developer-wrapper > .spn-label{
    display: table-cell;
    width: 50%;
}

.game-developer-wrapper > .div-lbl-logo{
    display: table-cell;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.game-developer-logo{
    margin-left: 1em;
    width: 5em;
    background: #a7a7a7;
}

.discounted-game{
    text-decoration: line-through;
    color: #ff5656;
}

.game-description{
    margin-top: 1em;
    text-align: justify;
}

.spn-rating-cmt{
    color: #fcd500;
}

.div-comment {
    margin-bottom: 2em;
}

.div-comment-date{
    font-size: .9em;
}

.div-comment-details{
    text-indent: 1em;
    margin-top: .4em;
}

.game-back-img{
    margin-top: 2em;
}

.modal-dialog {
    width: 85%;
}

.control-label{
    padding: 8px;
}

#ipt-show-register{
    margin-top: 0;
}

#div-form-btns{
    text-align: right;
}